* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 70px 10px 70px;
    padding: 10px 30px 10px 30px;
}

.logo {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.gamer {
    color: #FF42A5;
}

.logo p {
    font-size: 35px;
    font-family: 'Work Sans', sans-serif;
    padding: 10px;
}

.menu {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.about-us {
    max-width: 50%;
}

.follow-us {
    max-width: 50%;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    padding: 10px;
    font-family: 'Work Sans', sans-serif;
}

.follow-us {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.follow-us li {
    list-style: none;
}

.follow-us li a {
    text-decoration: none;
    padding: 10px;
    font-family: 'Work Sans', sans-serif;
}

.fa-youtube {
    color: red;

}

/* -------------------------------end heaser ----------------- */
.banner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 70px 10px 70px;
    padding: 10px 30px 10px 30px;
}

.banner-text .title {
    font-family: 'Work Sans', sans-serif;
    font-size: 48px;
    color: #0B0223;
}

.banner-text .goat {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 75px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.banner-img img {
    height: 500px;
}

.click,
.nodownload,
.supporte {
    display: flex;
    margin-bottom: 10px;
}

.click p,
.nodownload p,
.supporte p {
    padding-left: 10px;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
}

.butn1 {
    /* background-color: #FF42A5; */
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    font-size: 14px;
}

.butn2 {

    width: 100px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    border-radius: 48px;
    background: #4EC5F7;
    font-size: 14px;
}

/* ------------------------end banner section------------------------------- */
.gamer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 70px 10px 70px;
    padding: 10px 30px 10px 30px;
}

.gamer-img {
    max-width: 750px;
}

.gamer-description {
    max-width: 350px;
    text-align: right;
}

.gamer-img img {
    width: 750px;
    height: 489px;

}

.gamer-title {
    font-family: 'Work Sans', sans-serif;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-description {
    color: #534C64;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
}

.gamer-button {
    padding: 10px 10px;
    margin-top: 10px;
    border-radius: 48px;
    border: none;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.purpos {
    color: #a3a2a4;
    margin-top: 10px;
}

.unleash {
    color: #534C64;
    margin-top: 10px;
    font-weight: 700;
}

/* -------------------------------end gamer section---------------------- */
.online-section {
    margin: 10px 70px 30px 70px;
    padding: 10px 30px 30px 30px;
}

.online-heading {
    text-align: center;
}

.f-video {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 28px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;

}
.box{
    width: 257px;
    height: 302px;
    position: relative;
}
.box img{
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}
.content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
}
.content:hover{
    opacity: 1;
}
.content a{
    text-decoration: none;
    font-size: 28px;
}
.fa-youtube{
    color: rgb(255, 0, 43);
    opacity: 1;
}

.online-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.image p {
    margin-top: 10px;
}

/* --------------------------------online sention end------------------------ */
.play-game-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 70px 10px 70px;
    padding: 10px 30px 10px 30px;

}

.relative-game>img {
    width: 500px;
    height: 400px;
}

.absotute-game img {
    width: 150px;
    height: 150px;
}

.relative-game {
    width: 500px;
    height: 500px;
    position: relative;
    
}

.absotute-game {
    width: 200px;
    height: 200px;
    position: absolute;
    right: -115px;
    bottom: -24px;
}

.play-game {
    width: 350px;
}

.play-game h2 {
    width: 226px;
    margin-bottom: 10px;
}

/* ---------------------end play section-------------------------- */
.career-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 10px 0px;
    padding: 0px 30px 10px 30px;
    color: white;
    background-color: #F948B2;
}

.career {
    margin: 0px 70px 10px 70px;
}

.career-discription {
    width: 700px;
}

.career-img img {
    width: 500px;
    height: 500px;
}

.left-right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.career-discription h1,
.career-discription>p {
    margin-bottom: 15px;
}

.carrer-button {
    margin-top: 15px;
    padding: 10px 15px;
    gap: 10px;
    border-radius: 48px;
    background: #FFF;
    border: none;
}

/* ------------------------------end career-section--------------- */
.link-sections {
    margin: 10px 70px 10px 70px;
    padding: 10px 30px 10px 30px;
    text-align: center;
}

.first-links img {
    width: 30px;
    height: 30px;
    padding: 10px;
}

.seconds-links img {
    width: 30px;
    height: 30px;
    padding: 10px;
}

.first-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.seconds-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.first-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.seconds-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* -------------------------------------end link section------------------------ */
.footer-section {
    margin: 10px 0px 10px 0px;
    padding: 50px 30px 10px 30px;
    text-align: center;
    background: #0B0223;
}

.footer-logo {
    width: 150px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-logo img {
    width: 50px;
    height: 30px;
}

.footer-logo p {
    font-size: 20px;
    color: #FFF;
}

.footer-menu {
    width: 550px;
    margin: auto;

    padding: 10px;

}

.footer-menu ul {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-menu ul li a {
    color: #FFF;
    text-decoration: none;
    font-size: 12px;
    padding: 10px;
    font-family: 'Work Sans', sans-serif;
}

.social-link {
    width: 550px;
    margin: auto;
    padding: 10px;
}

.social-link a {
    color: #FFF;
    text-decoration: none;
    font-size: 24px;
    padding: 10px;
    font-family: 'Work Sans', sans-serif;
}

.copy-right {
    color: #FFF;
    margin: 10px;
    padding: 10px;
}

@media screen and (max-width:576px) {

    .about-us,
    .follow-us,
    .navbar,
    .logo,
    .menu {
        display: flex;
        flex-direction: column;
    }
}